:root {
    --color-link: black;
    --color-link-over: gray;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    background: linear-gradient(180deg, rgba(60, 220, 243, 1) 0%, rgba(180, 142, 253, 1) 50%, rgba(250, 87, 252, 1) 100%);
    width: 100%;
    box-shadow: inset 0 0 1px 1px white;
    border-radius: 20px;
}

.formContainer>h1 {
    color: white;
    font-weight: bold;
}

.formContainer .btn {
    background-color: rgb(60, 220, 243);
    font-weight: bold;
    color: white;
}

.formContainer>a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
}

.formContainer>a:hover {
    color: rgb(236, 236, 236);
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.text-shadow {
    text-shadow: 1px 1px 1px black;
}

#topNavBar a {
    margin: 1rem;
}

a {
    text-decoration: none !important;
    color: var(--color-link) !important;
}

a:hover {
    color: var(--color-link-over) !important;
}

app-login,
app-registration,
app-home,
app-contact,
app-faq,
app-gen-post {
    display: inline-block;
    height: 90%;
    width: 100%;
}