#summary {
    border-right: 1px solid black;
}
#choiceCriteria {
    border-right: 1px solid black;
}
.padding-5 {
    padding: 5%;
}
#historyContainer {
    padding: 2.5% 5%;
}
#historyContainer > .row {
    background-color: white;
    border-radius: 10px;
    padding: 4% 10%;
}

