.summary {
    text-decoration: none !important;
    color: black !important;
}
.summary > i {
    display: block;
    margin: 0 1rem;
    font-size: x-large;
}
.summary.choosen > i {
    background-color: lightgray;
    border-radius: 10px;
}
.padding-5 {
    padding: 5%;
}
#historyContainer {
    padding: 2.5% 5%;
}
#historyContainer > .row {
    background-color: white;
    border-radius: 10px;
    padding: 4% 10%;
    -webkit-box-shadow: 0px 5px 14px -5px #000000;
    box-shadow: 0px 5px 14px -5px #000000;
}
textarea {
    resize: none;
}
#loading {
    width: 10rem;
}
