<div class="row m-0 h-100">
    <div id="summary" class="col-1 p-3 h-100">
        <a href="javascript:void(0)" class="d-block text-center" [ngClass]="generationVisible ? 'fw-bold' : ''"
            (click)="switchContent('generation')">Génération</a>
        <a href="javascript:void(0)" class="d-block text-center" [ngClass]="historyVisible ? 'fw-bold' : ''"
            (click)="switchContent('history')">Historique</a>
    </div>
    <div class="col-11 p-0 h-100">
        <!-- Generation page -->
        <div class="h-100" [hidden]="!generationVisible">
            <div class="d-flex flex-column h-100">
                <div class="row m-0 h-100 overflow-auto">
                    <div id="choiceCriteria" class="col-5 mh-100 overflow-auto padding-5 bg-linear-gradient">
                        <div class="formContainer center p-5">
                            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                                <h4>Générez vos publications</h4>
                                <!-- Social media -->
                                <span>Réseau social</span>
                                <select class="form-control" name="socialMedia" ngModel required>
                                    <option disabled selected>Choisir un réseau social</option>
                                    <option value="Facebook">Facebook</option>
                                    <option value="Instagram">Instagram</option>
                                    <option value="Twitter">Twitter</option>
                                </select>
                                <span class="mb-3 d-block requiredText">*Requis</span>
                                <!-- Thematic -->
                                <span>Thématique</span>
                                <select class="form-control" name="thematic" ngModel required>
                                    <option disabled selected>Choisir une thématique</option>
                                    <option value="Nature">Nature</option>
                                    <option value="Animal">Animal</option>
                                    <option value="Technologie">Technologie</option>
                                </select>
                                <span class="mb-3 d-block requiredText">*Requis</span>
                                <!-- Objective -->
                                <span>Objectif / but</span>
                                <select class="form-control" name="objective" ngModel required>
                                    <option disabled selected>Choisir un objectif</option>
                                    <option value="Promouvoir">Promouvoir</option>
                                    <option value="Informer">Informer</option>
                                    <option value="Divertir">Divertir</option>
                                    <option value="Séduire">Séduire</option>
                                </select>
                                <span class="mb-3 d-block requiredText">*Requis</span>
                                <!-- Key words -->
                                <span>Mots-clés</span>
                                <textarea class="form-control" name="keyWords" placeholder="Mots clés..." ngModel
                                    required></textarea>
                                <span class="mb-3 d-block requiredText">*Requis</span>
                                <!-- Multiple post -->
                                <input type="checkbox" class="form-check-input mb-3" id="multiplePub" name="multiplePub"
                                    (click)="changeMultiplePost()" ngModel />
                                <label class="form-check-label mx-2" for="multiplePub">Plusieurs publications ?</label>
                                <span [ngClass]="multiplePost ? 'd-block' : ''" [hidden]="!multiplePost">Nombre de
                                    publications</span>
                                <input type="number" class="form-control" name="numberPost" min="1" max="10"
                                    [hidden]="!multiplePost" ngModel [required]="multiplePost" />
                                <span class="mb-3 requiredText" [ngClass]="multiplePost ? 'd-block' : ''"
                                    [hidden]="!multiplePost">*Requis</span>
                                <!-- Error -->
                                <span class="error d-block" [ngClass]="error != '' ? 'mb-3' : ''">{{error}}</span>
                                <!-- Buttons -->
                                <div class="row m-0">
                                    <div class="col p-0">
                                        <input type="reset" class="btn btnEmpty" value="Réinitialiser"
                                            (click)="reset()" />
                                    </div>
                                    <div class="col p-0 d-flex justify-content-end">
                                        <input type="submit" class="btn btnFill" value="Générer" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="genPostContainer" class="col-7 p-3 mh-100 overflow-auto">
                        <div class="row m-0" *ngFor="let post of allPost">
                            <span class="fw-bold">Publication n°{{post.id}}</span>
                            <p id="post{{post.id}}">
                                {{post.text}}
                            </p>
                            <div class="col">
                                {{post.keyWords}}
                            </div>
                            <div class="col text-end">
                                <button class="btn btn-secondary"
                                    (click)="copyContent('post{{post.id}}')">Copier</button>
                            </div>
                            <hr class="mt-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- History page -->
        <div class="h-100 bg-linear-gradient" [hidden]="!historyVisible">
            <div id="historyContainer" class="d-flex flex-column h-100">
                <div class="row m-0 overflow-auto">
                    <h1 class="p-0">Historique de vos posts !</h1>
                    <div class="row m-0 p-0">
                        <span class="fw-bold">Publication n°1</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lorem magna, auctor eget
                            ligula non,
                            lobortis
                            viverra ante. Phasellus ultrices, arcu et pellentesque pretium, magna est mollis velit, a
                            rutrum magna
                            turpis nec nisl. Aliquam congue felis magna, et ullamcorper quam vehicula et. Donec eleifend
                            risus sed
                            purus
                            aliquam dapibus. Duis nec neque tortor. Suspendisse nec posuere enim, id blandit eros. Etiam
                            non enim
                            nec
                            ligula congue feugiat at id libero. Sed egestas viverra ullamcorper. Donec semper nisi
                            bibendum gravida
                            pellentesque.
                        </p>
                        <div class="col">
                            Mots clés
                        </div>
                        <div class="col text-end">
                            Date
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row m-0 p-0">
                        <span class="fw-bold">Publication n°2</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lorem magna, auctor eget
                            ligula non,
                            lobortis
                            viverra ante. Phasellus ultrices, arcu et pellentesque pretium, magna est mollis velit, a
                            rutrum magna
                            turpis nec nisl. Aliquam congue felis magna, et ullamcorper quam vehicula et. Donec eleifend
                            risus sed
                            purus
                            aliquam dapibus. Duis nec neque tortor. Suspendisse nec posuere enim, id blandit eros. Etiam
                            non enim
                            nec
                            ligula congue feugiat at id libero. Sed egestas viverra ullamcorper. Donec semper nisi
                            bibendum gravida
                            pellentesque.
                        </p>
                        <div class="col">
                            Mots clés
                        </div>
                        <div class="col text-end">
                            Date
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row m-0 p-0">
                        <span class="fw-bold">Publication n°3</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lorem magna, auctor eget
                            ligula non,
                            lobortis
                            viverra ante. Phasellus ultrices, arcu et pellentesque pretium, magna est mollis velit, a
                            rutrum magna
                            turpis nec nisl. Aliquam congue felis magna, et ullamcorper quam vehicula et. Donec eleifend
                            risus sed
                            purus
                            aliquam dapibus. Duis nec neque tortor. Suspendisse nec posuere enim, id blandit eros. Etiam
                            non enim
                            nec
                            ligula congue feugiat at id libero. Sed egestas viverra ullamcorper. Donec semper nisi
                            bibendum gravida
                            pellentesque.
                        </p>
                        <div class="col">
                            Mots clés
                        </div>
                        <div class="col text-end">
                            Date
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row m-0 p-0">
                        <span class="fw-bold">Publication n°4</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lorem magna, auctor eget
                            ligula non,
                            lobortis
                            viverra ante. Phasellus ultrices, arcu et pellentesque pretium, magna est mollis velit, a
                            rutrum magna
                            turpis nec nisl. Aliquam congue felis magna, et ullamcorper quam vehicula et. Donec eleifend
                            risus sed
                            purus
                            aliquam dapibus. Duis nec neque tortor. Suspendisse nec posuere enim, id blandit eros. Etiam
                            non enim
                            nec
                            ligula congue feugiat at id libero. Sed egestas viverra ullamcorper. Donec semper nisi
                            bibendum gravida
                            pellentesque.
                        </p>
                        <div class="col">
                            Mots clés
                        </div>
                        <div class="col text-end">
                            Date
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>