<div class="row m-0 p-3 h-100">
    <div class="col d-flex flex-column justify-content-center">
        <h1>GenMyPost</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lorem magna, auctor eget ligula non,
            lobortis
            viverra ante. Phasellus ultrices, arcu et pellentesque pretium, magna est mollis velit, a rutrum magna
            turpis nec nisl. Aliquam congue felis magna, et ullamcorper quam vehicula et. Donec eleifend risus sed
            purus
            aliquam dapibus. Duis nec neque tortor. Suspendisse nec posuere enim, id blandit eros. Etiam non enim
            nec
            ligula congue feugiat at id libero. Sed egestas viverra ullamcorper. Donec semper nisi bibendum gravida
            pellentesque.
        </p>
    </div>
    <div class="col h-100 w-100 d-flex align-items-center">
        <img src="../../assets/img/MEA-OpenAI.webp" class="w-100" alt="Image représentant GenMyPost"/>
    </div>
</div>