<div id="topNavBar" class="row m-0 p-3">
    <div class="col-auto">
        <img src="/assets/img/Logo_GMP.svg"/>
    </div>
    <div class="col">
        <a class="btn" routerLink="/">Accueil</a>
        <a class="btn" routerLink="/contact">Contact</a>
        <a class="btn" routerLink="/faq">F.A.Q.</a>
    </div>
    <div class="col-auto" [hidden]="vGlobales.token != null">
        <button class="btn btnEmpty" routerLink="/login">Se connecter</button>
        <button class="btn btnFill" routerLink="/registration">S'inscrire</button>
    </div>
    <div class="col-auto" [hidden]="vGlobales.token == null">
        <button class="btn btnEmpty" (click)="deconnexion()">Déconnexion</button>
        <button class="btn btnFill" routerLink="/genPost">Mon espace</button>
    </div>
</div>
<router-outlet></router-outlet>
