<div class="h-100 bg-linear-gradient">
    <div class="center h-100">
        <div class="formContainer p-5">
            <h2 class="text-center">Inscription</h2>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <span>Nom de l'entreprise :</span>
                <input type="text" class="form-control" name="nameEnterprise" ngModel required />
                <span class="mb-3 d-block requiredText">*Requis</span>
                <span>Email de l'entreprise :</span>
                <input type="email" class="form-control" name="emailEnterprise" ngModel required />
                <span class="mb-3 d-block requiredText">*Requis</span>
                <span>Mot de passe :</span>
                <input type="password" class="form-control" name="passwordEnterprise" ngModel required />
                <span class="mb-3 d-block requiredText">*Requis</span>
                <span>Confirmation du mot de passe :</span>
                <input type="password" class="form-control" name="confirmPasswordEnterprise" ngModel required />
                <span class="mb-3 d-block requiredText">*Requis</span>
                <span class="error d-block" [ngClass]="error != '' ? 'mb-3' : ''">{{error}}</span>
                <div class="row m-0 p-0">
                    <div class="col ps-0">
                        <a routerLink="/login">J'ai déjà un compte</a>
                    </div>
                    <div class="col pe-0">
                        <input type="submit" class="btn btnFill float-end" value="Inscription" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<img class="logoFond" src="assets/img/Logo_GMP.svg"/>