<div class="row m-0 h-100">
    <div class="col-7 p-5">
        <h1>Contactez-nous !</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lorem magna, auctor eget ligula non, lobortis
            viverra ante. Phasellus ultrices, arcu et pellentesque pretium, magna est mollis velit, a rutrum magna
            turpis nec nisl. Aliquam congue felis magna, et ullamcorper quam vehicula et. Donec eleifend risus sed purus
            aliquam dapibus. Duis nec neque tortor. Suspendisse nec posuere enim, id blandit eros. Etiam non enim nec
            ligula congue feugiat at id libero. Sed egestas viverra ullamcorper. Donec semper nisi bibendum gravida
            pellentesque. </p>
        <h4>Nos coordonnées :</h4>
        <p>Email : ...</p>
        <p>Téléphone : ...</p>
        <p>Adresse : ...</p>
        <p>Code postal : ...</p>
        <p>Ville : ...</p>
    </div>
    <div class="col-5 p-5">
        <div class="center h-100">
            <div class="formContainer p-5">
                <span class="error">{{error}}</span>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <span class="text-white text-shadow">Nom de l'entreprise :</span>
                    <input type="text" class="form-control mb-3" name="nameEnterprise" ngModel required />
                    <span class="text-white text-shadow">Email de l'entreprise :</span>
                    <input type="email" class="form-control mb-3" name="emailEnterprise" ngModel required />
                    <span class="text-white text-shadow">Motif de contact :</span>
                    <textarea class="form-control mb-3"></textarea>
                    <input type="submit" class="btn text-shadow my-3" value="Envoyer" />
                </form>
            </div>
        </div>
    </div>
</div>